[buildout]
develop = .
parts = 
    test 
    omelette
extends = 
    http://www.dolmen-project.org/kgs/dolmen-kgs-0.5.4.cfg
versions = versions
newest = false

[versions]
zope.app.appsetup = 3.16.0
zope.app.wsgi = 3.13.0
zope.testbrowser = 4.0.0
grokcore.viewlet = 1.9

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = uvc.layout
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
