[buildout]
develop = .
parts = test sources
extends = http://grok.zope.org/releaseinfo/grok-1.1rc1.cfg 
versions = versions
newest = false

[versions]
grokcore.view = 1.13.5

[test]
recipe = zc.recipe.testrunner
eggs = uvc.layout
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

[sources]
recipe = infrae.subversion
urls = http://uvcsite.googlecode.com/svn/uvc.skin/trunk uvc.skin
as_eggs = true

