/* Dropdown menu */

dl.dropdown {
  width: 15em;
}

dl.unfolding dt {
  background-color: #f9f9f9 !important;
}

dl.dropdown dt {
  background: white url();
  font-weight: bold;
  padding: 0.2em 0.4em 0.3em 0.4em;
  border: 1px solid #cbcbcb;
  color: #555;
}

dl.dropdown dd {
  margin: 0;
  display: none;
  position: absolute;
  background-color: white;
}

dl.dropdown dd ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

dl.dropdown li {
  margin: 0;
  padding: 0;
}

dl.dropdown li.selected a {
  color: #5aa1a9;
  font-style: oblique;
  background: #efefef url() 0 0.5em no-repeat;
  padding: 0.2em 0.3em;
}

dl.dropdown li a {
  padding: 0.2em 0.3em;
  display: block;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #cbcbcb;
  text-decoration: none;
  background-color: #f9f9f9;
}

dl.dropdown li a img {
  vertical-align: middle;
}

dl.dropdown li a:hover {
  color: #000;
  background-color: #ddd;
}
